node_modules
dist
dist-ssr
build
docs
*.local
.env*

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
coverage
.nyc_output
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
temp
.temp
.tmp

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
.project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-workspace
*.sw?
.DS_Store
