name: Render with Docker

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build Image with Testing
        run: docker build --build-arg DB_URL_TEST=${{ secrets.DB_URL }} --build-arg BACKEND=${{ vars.BACKEND_NAME }} -t ${{ vars.NAME }}:test-tag .
      - name: Login to Docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Tag and Push Production Image
        run: |
          SHA=${{ github.sha }}
          docker tag ${{ vars.NAME }}:test-tag docker.io/${{ secrets.DOCKER_USERNAME }}/${{ vars.NAME }}:${SHA}
          docker tag ${{ vars.NAME }}:test-tag docker.io/${{ secrets.DOCKER_USERNAME }}/${{ vars.NAME }}:latest
          docker push docker.io/${{ secrets.DOCKER_USERNAME }}/${{ vars.NAME }}:${SHA}
          docker push docker.io/${{ secrets.DOCKER_USERNAME }}/${{ vars.NAME }}:latest
      - name: Check Current Image
        id: check_image
        run: |
          IMAGE=$(curl -s -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID }} | jq -r '.imagePath')
          if [[ "$IMAGE" == *"alpine"* ]]; then
            echo "needs_patch=true" >> $GITHUB_OUTPUT
          else
            echo "needs_patch=false" >> $GITHUB_OUTPUT
          fi
      - name: Patch Service on Render
        if: steps.check_image.outputs.needs_patch == 'true'
        run: |
          curl -X PATCH https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID }} \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
          -H "Content-Type: application/json" \
          -d '{"image": {"ownerId": "${{ secrets.RENDER_OWNER_ID }}", "imagePath": "docker.io/${{ secrets.DOCKER_USERNAME }}/${{ vars.NAME }}:latest", "registryCredentialId": "${{ secrets.RENDER_CRED_ID }}"}}'
      - name: Trigger Deployment on Render
        if: ${{ github.event_name == 'push' }}
        run: |
          curl -X POST https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID }}/deploys \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}"
